@import "tailwindcss";
@theme {
    --color-app-background-color: white;
    --color-app-nav-background-color: #030c1c;
    --color-drawer-background-color:#1D212D;
    --animate-star-movement-bottom: star-movement-bottom linear infinite alternate;
    --animate-star-movement-top: star-movement-top linear infinite alternate;
    --breakpoint-xmd:992px;
}
@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}